.info {
    margin-top: 50px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 70% 30%;
}
.my-goals{
    margin-top: 100px;
}

@media only screen and (max-width:576px){
    .info{
        
        grid-template-columns: 100%;
    }
    .my-goals{
        margin-top: 0px;
    }
    
}